body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    background-color: ghostwhite;
    width: 80%;
    margin: 3% auto;
    padding: 3%;
    border: 1px solid gray;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

.grid a {
    display: block;
    background-color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    font-size: 14px;
    border-radius: 8px;
}

.grid a:hover {
    background-color: red;
    color: white;
    font-weight: bold;
}
